* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 90px;
    color: turquoise;
    letter-spacing: 5px;
    text-shadow: 8px 5px  10px turquoise;
    -webkit-text-stroke: rgb(123, 129, 126) 0.1px;
}

.encabezado {
    margin: 30px;
    padding: 20px;
    text-align: center;
    border: 3px solid turquoise;
    border-radius: 40%;
    box-shadow: 3px 5px 15px turquoise;
}

.caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cajon {
    border: 1px solid lightseagreen;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    box-shadow: 6px 6px 6px 8px lightseagreen;
    color: lightseagreen;
}

.img-personaje {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.imagen-fondo {
    background-image: url("img/galaxia.webp");
    background-size: cover;
    background-position: center;
}

h2, h3 {
    font-family: 'Exo 2', sans-serif;
}

.contacto {
    text-decoration: none;
}

.pie {
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.datos {
    color:aqua;
    width: 310px;
    display: flex;
    justify-content: space-between;
}

i {
    font-size: 25px;
}

@media (max-width: 880px) {
    .caja {
        grid-template-columns: 1fr 1fr;
    }
    .pie {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .caja {
        grid-template-columns: 1fr;
    }
    .pie {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
